* {
  box-sizing: border-box;
  margin: 0;
}

.heading {
  text-align: center;
  font-size: 32px;
}
.managerWorkschedule {
  width: 100%;
  background: url("https://i.etsystatic.com/25229400/r/il/02ef22/3636053374/il_794xN.3636053374_mha2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pharmacyAddMedicine{
  width: 100%;
  background: url("https://img.freepik.com/premium-photo/drug-store-vitamin-medicine-capsule-cart-shopping-health_43667-249.jpg?w=996");
  background-repeat: no-repeat;
  background-size: cover;
}

.managerWorkscheduleContainer,.pharmacyAddMedicineContainer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  background-color: transparent;
  margin-left: 150px;
  width: 380px;
  padding-top: 50px;
}

.managerWorkscheduleForm,.pharmacyAddMedicineForm {
  width: 375px;
  padding: 12px;
}

.imageContainer {
  width: 35%;
  text-align: right;
  position: relative;
  margin-right: 120px;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.userText,
.departments {
  margin-bottom: 10px;
  color: black;
}